.admin_control_content {
  margin-left: clamp(10%, 267px, 25%);
  width: calc(100% - clamp(10%, 267px, 25%));
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &_wrapper {
    width: 90%;
    margin-top: 68px;
  }
  &_header {
    width: 100%;
    margin: clamp(8px, 2vh, 32px) 0;
  }
  &_main {
    width: 100%;
  }
}
