.admin_control {
  &_nav {
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 91;
    width: clamp(10%, 267px, 25%);
    min-width: 250px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
      0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1),
      0px 3.5px 17.5px rgba(165, 182, 201, 0.1);

    &_element {
      width: 100%;
      height: 58px;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px #e1e5eb;
      cursor: pointer;
      &:hover {
        background: hsl(0, 0%, 95%);
      }
      &_pressed {
        @extend .admin_control_nav_element;
        background: #fbfbfb;
        box-shadow: inset 0px -1px 0px #e1e5eb, inset 4px 0px 0px #007bff;
      }
      &_content {
        margin-left: 10%;
        width: max-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      &_text {
        font-size: 15px;
        color: #3d5170;
        margin-left: 8px;
        &_pressed {
          @extend .admin_control_nav_element_text;
          color: #007bff;
        }
      }
      &_svg_pressed {
        path {
          fill: #007bff;
        }
      }
    }
    &_header {
      @extend .admin_control_nav_element;
      &:hover {
        background: #ffffff;
      }
      height: 68px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      svg {
        margin-left: 10%;
      }
      h1 {
        margin-left: 8px;
      }
    }
  }

  &_header {
    position: fixed;
    top: 0%;
    left: clamp(10%, 267px, 25%);
    height: 68px;
    width: calc(100% - clamp(10%, 267px, 25%));
    z-index: 90;
    background: #ffffff;
    box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &_wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-flow: row;
      height: 100%;
      width: 100%;
      &_search {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        width: 100%;
        height: 100%;
        svg {
          padding-left: 16px;
        }
        &_input {
          flex: 1;
          height: 100%;
          border: none;
          overflow: auto;
          padding: 0;
          padding-left: 8px;
        }
      }
      &_notifications {
        background: #ffffff;
        box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
        aspect-ratio: 69.5/67.5;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: hsl(0, 0%, 95%);
        }
      }
      &_user {
        display: flex;
        height: 200%;
        width: auto;
        flex-direction: column;
        &_visible {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: clamp(218px, 15vw, 227px);
          height: 50%;

          &_main {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            &_name {
              margin-left: 8px;
            }
          }
        }
        &_dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 50%;
          width: auto;
          background-color: #ffffff;
          color: #007bff;
          border-radius: 0 0 5px 5px;
          box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
            0px 2px 4px rgba(90, 97, 105, 0.12),
            0px 7.5px 11px rgba(90, 97, 105, 0.1),
            0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
          transition: all 0.2s;
          &_hidden {
            width: 0;
            overflow: hidden;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}
