.admin {
  &_h1 {
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #3d5170;
  }
  &_h2 {
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 17.5px;
    color: #3d5170;
  }
  &_p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #3d5170;
  }
  &_menu_li {
    font-size: 15px;
    color: #3d5170;
  }
  &_a {
    font-style: normal;
    font-weight: normal;
    font-size: 10.5px;
    line-height: 12px;
    color: #007bff;
  }
  &_header {
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 33px;
    color: #3d5170;
  }
}
